.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 20px;
}

.fade-in {
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.grid-item {
    padding: 10px;
    /* font-size: 30px; */
    /* text-align: center; */
}

.cntr-text {
    text-align: center;
}

.shadow-border {
    box-shadow: 10px 10px 18px #888888;
    border-radius: 10px;
}

.weather-container {
    background-color: rgb(213, 255, 215);
    color: lightslategray;
    font-family: 'Calibri';
}

.nba-container {
    background-color: rgb(250, 230, 230);
    color: lightslategray;
    font-family: 'Calibri';
}

.title {
    background-color: lightblue;
    font-style: bold;
    text-align: center;
    border-radius: 5px;
}

Img.weather-icon {
    padding-left: 20px;
    width: 50px;
    height: 50px;
}

.weather-text {
    font-size: 50px;
    margin-left:20px;
}

.temp-text {
    font-size: 30px;
}